<div class="around">
  <h1>Nieuwe Afspraak</h1>
  <div class="modal-type">
    <h2>Soort afspraak</h2>
    <br>
    <div>
      <mat-select class="mat-select-width" placeholder="Kies hier de soort afspraak">
        <mat-option value="patiënt afspraak">patiënt afspraak</mat-option>
      </mat-select>
    </div>
    <br>
  </div>
  <div class="modal-information">
    <span class="material-icons">date_range</span>
    <mat-label>Dinsdag 11 november 2019</mat-label>
    <div class="right-side">
      <span class="material-icons">edit</span>
      Aanpassen
    </div>
    <br>
    <span class="material-icons">schedule</span>
    <mat-label>14:30 - 15:00</mat-label>
    <mat-select class="mat-select-width" placeholder="Tijdsduur afspraak">
      <mat-option value="10 min">10 min</mat-option>
      <mat-option value="20 min">20 min</mat-option>
      <mat-option value="30 min">30 min</mat-option>
      <mat-option value="60 min">60 min</mat-option>
    </mat-select>
    <div class="right-side">
      <span class="material-icons">edit</span>
      Aanpassen
    </div>
    <br>
    <span class="material-icons">location_on</span>
    <input placeholder="Zoek naar een locatie">
    <div class="right-side">
      <span class="material-icons">edit</span>
      Aanpassen
    </div>
    <br>
    <span class="material-icons">person_add</span>
    <mat-label>Dr. W.Janssen</mat-label>
    <div class="right-side">
      <span class="material-icons">edit</span>
      Aanpassen
    </div>
  </div>
  <div class="modal-patient">
    <h2>Patiënt zoeken</h2>
    <input placeholder="Voor- of achternaam>"/>
    <br>
    <input placeholder="Straatnaam + huisnummer">
    <br>
    <input placeholder="Geboortedatum">
    <br>
    <input placeholder="Postcode">

  </div>
  <br>
  <div class="modal-reason">
    <h2>Reden van komst</h2>
    <mat-select class="mat-select-width" placeholder="Geef de reden van de afspraak aan">
      <mat-option value="Ziekte">Ziekte</mat-option>
    </mat-select>
    <br>
    <textarea class="text-area-width" placeholder="Vul de reden aan met vrije tekst"></textarea>
  </div>
  <div class="modal-attention">
    <h2>Attentieregel</h2>
    <textarea [(ngModel)]="attentionLineText" class="text-area-width"
              placeholder="Typ hier de attentieregel"></textarea>
  </div>
  <div class="modal-buttons">
    <button class="button-cancel" mat-button>annuleren</button>
    <button class="button-save" mat-button>opslaan</button>
  </div>
</div>
