<div class="around">
  <form (ngSubmit)="saveAppointment()">
    <div class="row">
      <div style="float: left;width: 5%;" class="column">
        <h2>Soort afspraak</h2>
      <mat-form-field appearance="fill">
        <mat-label>Selecteer een afspraaktype</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
        <div class="date-picker">
          <span class="material-icons">date_range</span>
          <mat-form-field appearance="fill">
            <mat-label>Kies een datum</mat-label>
            <label>
              <input name="date" [(ngModel)]="appointment.date" matInput [matDatepicker]="picker">
            </label>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>uur</mat-label>
            <input matInput placeholder="uur">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>minuut</mat-label>
            <input matInput placeholder="minuut">
          </mat-form-field></td>
          <td><mat-form-field class="uur">
            <mat-label>uur</mat-label>
            <input matInput maxlength="4" placeholder="uur">
          </mat-form-field></td>
          <td><mat-form-field class="uur">
            <mat-label>minuut</mat-label>
            <input matInput maxlength="4" placeholder="uur">
          </mat-form-field></td>
        </tr></table>


        <span class="material-icons">schedule</span>
        <input matInput class="start-time" name="startTime" placeholder="hh:mm" required (ngModelChange)="calcEndTime()" [(ngModel)]="startTime">
        <mat-label>- </mat-label>
        <mat-label name="endTime" class="end-time">{{endTime | timeNumbers}}</mat-label>
        <br>
        <mat-select name="duration" (selectionChange)="calcEndTime()" required [(ngModel)]="duration" class="mat-select-width"
                    placeholder="Tijdsduur afspraak">
          <mat-option value="10">10 min</mat-option>
          <mat-option value="20">20 min</mat-option>
          <mat-option value="30">30 min</mat-option>
          <mat-option value="60">60 min</mat-option>
        </mat-select>


<!--        <div>-->
<!--          <mat-form-field>-->
<!--            <mat-icon matSuffix>schedule</mat-icon>-->
<!--            <input matInput class="start-time" name="startTime" placeholder="hh:mm" required (ngModelChange)="calcEndTime()" [(ngModel)]="startTime">-->
<!--            <mat-label>- </mat-label>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--              <mat-label name="endTime" class="end-time">{{endTime | timeNumbers}}</mat-label>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <mat-select name="duration" (selectionChange)="calcEndTime()" required [(ngModel)]="duration" class="mat-select-width"-->
<!--                        placeholder="Tijdsduur afspraak">-->
<!--              <mat-option value="10">10 min</mat-option>-->
<!--              <mat-option value="20">20 min</mat-option>-->
<!--              <mat-option value="30">30 min</mat-option>-->
<!--              <mat-option value="60">60 min</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
      </div>
    </div>
  </form>
</div>
