.mat-select-width {
  width: 40%;
}

.text-area-width {
  width: 80%;
}

.around {
  padding: 3%;
}

.right-side {
  float: right;
}

.modal-information {
  width: 57%;
  margin-left: 0 !important;
  display: inline-block;
  padding-right: 5%;
}

.button-cancel {
  background-color: #fefeff;
}

.button-save {
  background-color: #e6e9ee;
  color: #bbbec3;
}

.modal-patient {
  width: 35%;
  display: inline-block;
}
