<div class="body">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Vorige
        </div>
        <div
          (click)="resetViewDate()"
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Vandaag
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Volgende
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'nl': 1: [] : 5 }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Dag
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button (click)="newAppointment()" class="button-new-appointment">+ Nieuwe afspraak</button>
      </div>
    </div>
  </div>
  <br/>
  <div [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [daysInWeek]="5"
      [viewDate]="viewDate"
      [hourSegments]="6"
      [dayStartHour]="8"
      [dayStartMinute]="0"
      [dayEndHour]="17"
      [dayEndMinute]="0"
      [locale]="'nl'"
      [events]="this.events"
      [refresh]="refresh"
      (dayHeaderClicked)="setDayView($event)"
      (eventClicked)="handleEvent('Edited', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [hourSegments]="6"
      [dayStartHour]="8"
      [dayStartMinute]="0"
      [dayEndHour]="17"
      [dayEndMinute]="0"
      [events]="this.events"
      [refresh]="refresh"
      [locale]="'nl'"
      (eventClicked)="handleEvent('Edited', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <ng-template #addModalContent let-close="close">
    <app-appointment-add-modal></app-appointment-add-modal>
  </ng-template>

<!--  <ng-template #editModalContent let-close="close" *ngIf="(this.selectedAppointment | json) != {}">-->
  <ng-template #editModalContent let-close="close">
    <app-appointment-information-modal [appointment]="this.selectedAppointment" ></app-appointment-information-modal>
    <!-- <app-appointment-edit-modal [appointment]="this.selectedAppointment"></app-appointment-edit-modal> !-->
   </ng-template>
 </div>
