<div class="vertical-center horizontal-center">
  <h1 class="not-found-header-text">Patiënten genereren</h1>
  <br/>
  <button class="home-button" mat-raised-button (click)="navigateToHome()">Klik hier om terug naar de home pagina te
    gaan
  </button>

  <input type="text" [(ngModel)]="firstName"/>
  <input type="text" [(ngModel)]="middleName"/>
  <input type="text" [(ngModel)]="lastName"/>
  <mat-select [(ngModel)]="gender">
    <mat-option value="MALE">Male</mat-option>
    <mat-option value="FEMALE">Female</mat-option>
    <mat-option value="OTHER">Other</mat-option>
  </mat-select>
  <input type="date" [value]="dateOfBirth" [(ngModel)]="dateOfBirth"/>
  <input type="text" [(ngModel)]="phoneNumber"/>
  <input type="text" [(ngModel)]="dossierInformation"/>
  <input type="text" [(ngModel)]="streetName"/>
  <input type="text" [(ngModel)]="houseNumber"/>
  <input type="text" [(ngModel)]="zipCode"/>
  <input type="text" [(ngModel)]="city"/>
  <input type="text" [(ngModel)]="country"/>



  <button (click)="generateRandomInformation()">Generate Information</button>

  <button (click)="checkDateOfBirth()">Check Date</button>
</div>
