<div class="nav-bar">
  <img (click)="navigateToHome()" class="company-logo container" src="assets/images/medicom-logo.jpg"
       alt="logo van het bedrijf medicom">
  <div class="left-nav-side">
    <input type="text" [(ngModel)]="searchBarText" value="typ hier om te zoeken" (toggle)="removeText()">
    <a (click)="navigateToLogin()">Start</a>
    <a (click)="navigateToAgenda()">Agenda</a>
    <a (click)="navigateToClientOverview()">Patiënten</a>
    <a (click)="navigateToPost()">Post</a>
    <a (click)="navigateToSupport()">Support</a>
  </div>
</div>
<br/>
<br/>
<br/>
