<div class="nav-bar">
 <a class="company-logo-box"><img (click)="navigateToHome()" class="company-logo container" src="assets/images/medicom-logo.jpg"
       alt="logo van het bedrijf medicom"></a>
  <input type="text" [(ngModel)]="searchBarText" value="typ hier om te zoeken" (toggle)="removeText()" placeholder="typ hier om te zoeken">
  <div class="right-nav-side">

    <a (click)="navigateToLogin()">Start</a>
    <a (click)="navigateToAgenda()">Agenda</a>
    <a (click)="navigateToClientOverview()">Patiënten
  </a>
    <a (click)="navigateToPost()">Post </a>
    <a (click)="navigateToSupport()">Support</a>
  </div>
</div>
