.nav-bar {
  text-decoration: none;
  width: 100vw;
  height: auto;
}

input{
  margin-right: 5px;
}

.nav-bar a {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: red;
  display: inline-block;
}

.company-logo {
  width: 10%;
  height: auto;
  display: inline-block;
  float: left;
}

.left-nav-side {
  float: left
}

.right-nav-side {
  float: left
}
